services:
  db:
    image: postgres:15
    environment:
      POSTGRES_DB: fantasyia
      POSTGRES_USER: fantasyia
      POSTGRES_PASSWORD: fantasyia
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
  app:
    build: .
    ports:
      - "8080:8080"
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://db:5432/fantasyia
      SPRING_DATASOURCE_USERNAME: fantasyia
      SPRING_DATASOURCE_PASSWORD: fantasyia
    depends_on:
      - db
    volumes:
      - ./src/main/resources/templates:/app/src/main/resources/templates
      - ./src/main/resources/static:/app/src/main/resources/static
  pgadmin:
    image: dpage/pgadmin4
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "8081:80"
    depends_on:
      - db
volumes:
  pgdata: